In [2]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error
from sklearn import preprocessing
import lightgbm
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
import pandas as pd
import os
from os import path

In [3]:
df = pd.read_csv(os.path.join('diamonds.csv'),sep=';')
diamonds_data = pd.DataFrame(data=df, columns=['carat','cut','color','clarity','depth','table','price','x','y','z'])
# diamonds_data

In [4]:
diamonds_data.shape

(53940, 10)

In [5]:
diamonds_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    0 non-null      float64
 1   cut      0 non-null      float64
 2   color    0 non-null      float64
 3   clarity  0 non-null      float64
 4   depth    0 non-null      float64
 5   table    0 non-null      float64
 6   price    0 non-null      float64
 7   x        0 non-null      float64
 8   y        0 non-null      float64
 9   z        0 non-null      float64
dtypes: float64(10)
memory usage: 4.1 MB

Прогнозирование стоимости с помощью остальных колонок

In [11]:
df.head()

   carat,"cut","color","clarity","depth","table","price","x","y","z"
0                                                 59
1                                                 16
2                                                 30
3                                               1536
4                                               4377

Подготовка данных:
- Проверка адекватности колонок(проверка доступности данных)
- Обработать пропуски
- Перевести категориальные значения в численные

In [12]:
# проверка наличии пропуска
df.isna().sum()

carat,"cut","color","clarity","depth","table","price","x","y","z"    0
dtype: int64

In [13]:
cat_columns = [cname for cname in df.columns if df[cname].dtype == 'object']

encoder = preprocessing.LabelEncoder()

for col in cat_columns:
    df[col] = encoder.fit_transform(df[col])

In [14]:
df

       carat,"cut","color","clarity","depth","table","price","x","y","z"
0                                                     59
1                                                     16
2                                                     30
3                                                   1536
4                                                   4377
...                                                  ...
53935                                              28441
53936                                              28389
53937                                              26519
53938                                              31943
53939                                              29991

[53940 rows x 1 columns]